.containerBig {
  height: 100%;
  overflow-y: scroll;
}

.cardContainer {
  height: calc(100% - 94px);
}

.cardContainer .card {
  border: 0;
  width: 200px;
  height: fit-content;
  /* position: absolute; */
}

@media screen and (min-width: 366px) {
  .cardContainer {
    height: calc(100% - 56px);
  }
}
