.cardContainer {
  height: calc(100vh - 94px);
}

.cardContainer .card {
  border: 0;
  width: 200px;
  height: fit-content;
  position: absolute;
}

@media screen and (min-width: 366px) {
  .cardContainer {
    height: calc(100vh - 56px);
  }
}
